<!DOCTYPE html>
<html lang="vi">
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="BoEC Template">
    <meta name="keywords" content="BoEC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BoEC | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/organi/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />    <link rel="stylesheet" href="/static/css/organi/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/organi/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/organi/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/organi/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/organi/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/organi/boec.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> boec@ptit.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                            {% if user_id %}
                                <div class="header__top__right__language">
                                    <div href="#"><i class="fa fa-user"></i> {{ user.first_name}},{{ user.last_name }}</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="/user/logout">Log Out</a></li>
                                        <li><a href="#">Edit Profile</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="header__top__right__language">
                                    <div href="#"><i class="fa fa-user"></i> Login </div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="/user/login">Log In</a></li>
                                        <li><a href="#">Register</a></li>
                                    </ul>   
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/boec/customer"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/boec/customer">Trang chủ</a></li>
                            <li><a href="/boec/shop-grid">Shop</a></li>
                            <li><a href="#">Trang</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/boec/shopping-cart">Cart</a></li>
                                    <li><a href="/boec/checkout">Check out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            {% if user_id %}
                                <li><a href="/boec/favourite"><i class="fa fa-heart"></i> <span id="favorite_item_count">{{ favorite }}</span></a></li>
                            {% endif %}
                            <li><a href="/boec/shopping-cart"><i class="fa fa-shopping-bag"></i> <span id="cart_item_count">{{ cart }}</span></a></li>
                        </ul>   
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Các Loại Mặt Hàng</span>
                        </div>
                        <ul>
                            <li><a href="#">Sách</a></li>
                            <li><a href="#">Đồ điện tử</a></li>
                            <li><a href="#">Quần Áo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" id="search" placeholder="Bạn cần gì?">
                                <button type="button" onclick="searchProduct(this)" class="site-btn">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="/static/images/hero/banner.jpg">
                        <div class="hero__text">
                            <span>Đồ điện tử, sách, thời trang</span>
                            <h2>Chất lượng <br />100% Chính hãng</h2>
                            <p>Giao hàng toàn quốc</p>
                            <a href="#" class="primary-btn">Mua sắm ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Favorite Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".Electronics">Electronic</li>
                            <li data-filter=".book">Book</li>
                            <li data-filter=".clothing">Clothing</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for featured_product in featured_products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix {{featured_product.product.category.name}}">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/static/images/variant/{{featured_product.id}}.jpg">
                            <ul class="featured__item__pic__hover">
                                {% if user_id %}
                                    <li><a onclick="addProductToFavorite(this)" data-variant_id ="{{featured_product.id}}" data-user_id ="{{user_id.id}}"><i class="fa fa-heart"></i></a></li>
                                {% endif %}
                                <li><a onclick="addProductToCart(this)" data-variant_id ="{{featured_product.id}}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{featured_product.product.name}}</a></h6>
                            <h5>${{featured_product.price}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="/boec/customer"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>

    <script>
        function addProductToCart(elem) {
            var id = $(elem).data("variant_id");
            $.ajax({
            type: "POST",
            data: {id: id},
            url: "/api/cart/add_product_to_cart",
            success: function (data) {
                if(data.is_new){
                    var count = parseInt($("#cart_item_count").text().trim());
                    $("#cart_item_count").text(count+1)
                }
            }
            })
        }
        function addProductToFavorite(elem) {
            var id = $(elem).data("variant_id");
            var user = $(elem).data("user_id");
            $.ajax({
            type: "POST",
            data: {id: id, user: user},
            url: "/api/favorite/add_product_to_favorite",
            success: function (data) {
                if(data.is_exist){
                    var count = parseInt($("#favorite_item_count").text().trim());
                    $("#favorite_item_count").text(count - 1);
                }else{
                    var count = parseInt($("#favorite_item_count").text().trim());
                    $("#favorite_item_count").text(count + 1);
                }
            }
            })
        }
        function searchProduct(elem) {
            var search = $("#search").val();
            window.location.replace(`/boec/shop-grid?search=${search}`)
        }
    </script>
</body>

</html>